pip install -i https://pypi.tuna.tsinghua.edu.cn/simple flask
pip install -i https://pypi.tuna.tsinghua.edu.cn/simple flask_sqlalchemy
pip install -i https://pypi.tuna.tsinghua.edu.cn/simple sqlalchemy