<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="shortcut icon" href="{{url_for('static',filename='base/images/logo.png')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='admin/bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='fonts/css/font-awesome.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='ionicons/css/ionicons.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='admin/dist/css/AdminLTE.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='admin/plugins/iCheck/square/blue.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='test.css')}}">
</head>
<body class="hold-transition login-page">
<div class="login-box">
    <div class="login-box-body">
        <span style="font-family: '微软雅黑 Light';font-size: 22px;">登录</span>
        <br>
        <form  method="post" id="form-data">
            <div class="form-group has-feedback">
                {{ form.account }}
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                {% for err in form.account.errors %}
                <div class="col-md-12">{{ err }}</div>
                {% endfor %}
            </div>
            <div class="form-group has-feedback">
                {{ form.pwd }}
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                {% for err in form.pwd.errors %}
                <div class="col-md-12">{{ err }}</div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-xs-8">
                </div>
                <div class="col-xs-4">
                    {{ form.submit }}

                </div>
            </div>
            {{ form.csrf_token }}
        </form>
        {% for msg in get_flashed_messages(category_filter=['err']) %}
                <p class="login-box-msg" style="color: red">{{ msg }}</p>
        {% endfor %}
    </div>
</div>

</body>
</html>
